// bower:scss
// endbower

@import "foundation";
@import "icomoon";

// Variables
$navy: #053341;
$gold: #9e8c5d;
$darkgold: darken($gold, 10%);
$lightgold: lighten($gold, 42%);

$state: #93bd50;
$historic: #009474;
$language: #009cbc;
$youth: #c3608d;
$culture: #a664b5;
$community: #e6263a;
$global: #f27f0a;
$strands: state, historic, language, youth, culture, community, global;
$strandcolours: $state, $historic, $language, $youth, $culture, $community, $global;
$serif: 'Alegreya', Palatino, Times, serif;
$sans: 'Karla', Helvetica, sans-serif;

$trans: all ease .2s;

.browserupgrade { margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0; }

::selection { background: lighten($gold, 30%); }
::-moz-selection { background: lighten($gold, 30%); }

::-webkit-input-placeholder { color: $gold; }
:-moz-placeholder { color: $gold; }
::-moz-placeholder { color: $gold; }
:-ms-input-placeholder { color: $gold; }


// Type
* { -webkit-font-smoothing: antialiased; }
body {
  font-family: $serif;
  color: $navy;
}
p {
  margin-bottom: 0;
  line-height: rem-calc(23);
}

h1, h2, h3 {
  font-family: $sans;
  font-weight: 700;
  letter-spacing: -1.5px;
  color: $navy;
  line-height: 1.2em;
}

h4, h5, h6 {
  font-family: $sans;
  letter-spacing: -.8px;
  line-height: 1.2em;
}

hr { border-color: lighten($gold, 25%); }

// Utilities

.button {
  background: $gold;
  text-transform: uppercase;
  font-family: $sans;
  letter-spacing: 1px;
  font-weight: 700;
  &:hover {
    background: $darkgold;
  }
}

.dim {
  opacity: .3;
}

.circle {
  display: inline-block;
  width: rem-calc(38);
  height: rem-calc(38);
  background: white;
  border-radius: 100%;
  transition: $trans;
  text-align: center;
  margin: 0 rem-calc(10) 0 0;
  padding: 0;
  
  .icon-twitter, .icon-facebook {
    font-size: rem-calc(30);
    display: inline-block;
    line-height: rem-calc(40);
    color: $gold;
  }

  &:hover {
    background: $gold;
    .icon-twitter, .icon-facebook {
      color: white;
    }
  }
}


.arrowleft, .arrowright {
  background: white;
  display: inline-block;
  border-radius: 100%;
  width: rem-calc(35);
  height: rem-calc(35);
  margin: 0 0 0 rem-calc(5);
  text-align: center;
  padding: rem-calc(5);
  transition: $trans;
  &:hover {
    background: $gold;
  }
  &.hide {
    opacity: 0;
  }
}

.icon-arrow {
  font-size: rem-calc(26);
  display: inline-block;
  color: $darkgold;
  transition: $trans;
  &.pointleft {
    transform: rotate(90deg);
    margin-left: rem-calc(-3);
  }
  &.pointright {
    transform: rotate(-90deg);
  }
  &:hover {
    color: white;
  }
}

.ire {
  color: $darkgold;
}

.break {
  display: block;
}

a.more {
  display: block;
  font-family: $sans;
  color: $gold; 
  font-size: rem-calc(15);
  padding-left: rem-calc(3);
  font-weight: 700;
  letter-spacing: .5px;
  text-transform: uppercase;
  margin-top: rem-calc(20);
  width: rem-calc(70);
  position: absolute;
  transition: $trans;
  bottom: rem-calc(20);
  &::after {
    content: ''; 
    display: block;
    position: absolute;
    right: rem-calc(-19);
    top: rem-calc(6);
    width: rem-calc(8);
    height: rem-calc(8);
    background: transparent;
    border-right: 2px solid $gold;
    border-top: 2px solid $gold;
    transform: rotate(45deg);
    margin-left: rem-calc(5);
    transition: $trans;
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    right: rem-calc(-27);
    top: 0;
    width: rem-calc(20);
    height: rem-calc(20);
    background: rgba(255,255,255,.2);
    border-radius: 100%;
    transition: $trans
  }
  &:hover {
    &::after {
      margin-left: rem-calc(10);
    }
    &::before {
      transform: scale(1.5);
      opacity: .3;
    }
  }
}

// Spacing

section.container {
  padding: rem-calc(40) 0 rem-calc(40) 0;
  @media #{$small-only} {
    padding: rem-calc(20) 0 0 0;
  }
}



// Event and Strands


.event {

  margin-bottom: rem-calc(20);
  overflow: hidden;

  // full
  &.large-12, &.large-8 {
    .info {
      float: right;
      width: calc(33% - 10px);
      height: rem-calc(488);
      @media #{$medium-only} { 
        width: calc(50% - 10px);

      }
      @media #{$small-only} { 
        width: 100% !important;
      }
      a.more {
        @media #{$large-up} {
          bottom: rem-calc(30);
        }
      }
    }
    .pic {
      position: relative;
      display: block;
      width: calc(67% + 10px);
      height: rem-calc(488);
      overflow: hidden;
      background: center center no-repeat;
      @media #{$medium-only} { 
        width: calc(50% + 10px);
      }
      @media #{$small-only} { 
        width: 100%;
      }
    }

    .left { background-position: left center; }
    .middle { background-position: center center; }
    .right { background-position: right center; } 
  
    .strands & {
      .info {
        background: $navy;
        width: 100%;
        padding: rem-calc(25) 20% rem-calc(25) rem-calc(30);
        h2 { 
          color: white; 
          margin-bottom: rem-calc(50);
        }
        p {
          font-size: rem-calc(20);
        }
        .ire {
          color: $gold;
        }
      } 
    }

  }

  // two thirds
  &.large-8 {
    .info {
      width: calc(50% - 10px);
    }
    .pic {
      width: calc(50% + 10px);
    }
  }

  // half 
  &.large-6 {
    .info {
      // padding-right: rem-calc(150);
      height: rem-calc(250);
      .reminders & {
        background: white;
      }
      a.more {
        bottom: inherit;
        color: $gold;
        position: absolute;
        bottom: rem-calc(20);
        &::before, &::after {
          border-color: $gold;
        }
        &:hover {
          color: $navy;
          &::before, &::after {
            border-color: $navy;
          }
        }
      }
    }
    img {
      width: 100%;
    }
  }

  // one third
  .info {
    background: $lightgold;
    padding: rem-calc(12) rem-calc(25);
    height: rem-calc(300);
    position: relative;
    z-index: 1;
    overflow: hidden;
    .date {
      color: $darkgold;
      font-size: rem-calc(20);
    }
    .eventtype, .newstype {
      position: absolute;
      right: rem-calc(25);
      top: rem-calc(20);
      text-align: right;
      font-family: $sans;
      text-transform: uppercase;
      color: $darkgold;
      font-size: rem-calc(14);
      letter-spacing: .5px;
      height: rem-calc(20);
      &::before {
        content: 'Event';
        display: block;
        transition: $trans;
      }
      &::after {
        content: 'Imeachtaí';
        display: block;
        opacity: 0;
        transition: $trans;
      }
    }
    .icon-location {
      position: absolute;
      right: rem-calc(20);
      top: rem-calc(20);
      color: $gold;
      font-size: rem-calc(26);
      transition: $trans;

      &:hover {
        color: $navy;
      }
    }
    .newstype {
      &::before {
        content: 'News';
      }
      &::after {
        content: 'Nuacht';
      }
    }

    &:hover {
      .eventtype, .newstype {
        &::before {
          margin-top: rem-calc(-21);
          opacity: 0;
        }
        &::after {
          opacity: 1;
        }
      }
    }    
    h4 {
      padding: rem-calc(15) 0;
      font-family: $serif;
      font-size: rem-calc(24);
      color: $navy;
    }
    span.ire {
      color: $darkgold;
    }
    p {
      color: white;
      margin-bottom: 0;
      font-size: rem-calc(17);
    }
    p.ire {
      color: $navy;
    }
    a.more {
      color: $navy;
      &::after {
        border-color: $navy;
      }
      &:hover {
        color: $gold;
        &::after {
           border-color: $gold;
        }
      }
    }
    img {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }

  .graphic { 
    max-width: 100%;
    margin: 0 auto;
    padding: 0px;
    
    .scaleme {
      position:relative;
      padding: 54.5% 0 0 0;
      height: 0;
      
      .content {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
      }
    }
  }

  // one quarter
  .large-3 {
    
  }




  &:last-of-type {
    float: left !important;
  }

  .strands & {
    height: rem-calc(500);
    .info {
      height: 100%;
    }
  }

}


// Strand specific loop

@for $i from 1 through length($strands) {
  $color: nth($strands, $i);
  .#{$color} {
    background: nth($strandcolours, $i);

    h4 { color: white; }
    .ire { color: $navy; }
    .location span.icon-location { color: white; }
  }
  .event .#{$color} {
      background: nth($strandcolours, $i);
      .date {
        color: white;
      }
      .eventtype, .newstype {
        color: rgba(255,255,255,.6);
      }
      h4 { color: white; }
      span.ire { color: $navy; }
  }
  .event .icon-#{$color} {
    color: rgba(0,0,0,.1);
    font-size: rem-calc(170);
    position: absolute;
    bottom: rem-calc(-25);
    right: rem-calc(-15);

    .strands & {
     font-size: rem-calc(50);
     bottom: rem-calc(20);
     right: rem-calc(15);
     color: white;
    }
  }
  .event.large-3 .icon-#{$color}{
    font-size: rem-calc(90);
    bottom: rem-calc(0);
    right: rem-calc(0);
  }

  div.title.#{$color}, .details.#{$color} {
    background: nth($strandcolours, $i);
    h1 span.ire { color: $navy; }
  }
  .icon-#{$color} {
    display: inline-block;
    font-size: rem-calc(32);
    color: nth($strandcolours, $i);
    // text-indent: rem-calc(-9999);
    margin-right: rem-calc(10);
    .highlight & {
      color: white;
    }
  }
  .info.#{$color} {
    a.more:hover {
      color: white;
      &::after {
         border-color: white;
      }
    }
  }
}


// Category specific events, eg location/partner/
.category {

}

.single {
  & > div.row:last-child {
    & > div > div {
      padding-bottom: rem-calc(50);
    }
  }
}

.reminders {
  background: $lightgold;
}


// Single modules 
div.title {
  background: $navy;
  padding: rem-calc(25) rem-calc(30) rem-calc(70) rem-calc(30);
  height: inherit;
  overflow: auto; 
  h1 { 
    color: white;
    font-size: rem-calc(58);
    line-height: rem-calc(58);
    letter-spacing: rem-calc(-2);
    &.ire {
      color: $gold;
    }
  }
  .right {
    span { color: white; }
  }
}

.details {
  @extend div.title;
  border-top: 1px solid rgba(0,0,0,.1);
  padding-bottom:rem-calc(30);
  ul, li {
    list-style-type: none;
    margin: 0; 
    padding: 0;
  }
  .icon {
    width: 10%;
    float: left;
    height: 100%;
    span {
      font-size: rem-calc(36);
      color: white;
      line-height: rem-calc(30);
    }
    .icon-location {
      font-size: rem-calc(28);
    }
    .icon-web {
      font-size: rem-calc(40);
      line-height: rem-calc(30);
    }
  }
  .info {
    float: left;
    width: 45%;
    padding-right: rem-calc(10);
    li, p, a {
      color: white;
      font-family: $sans;
    } 
    li {
      line-height: rem-calc(20);
    }
    li.title {
      margin-top: rem-calc(5);
      font-weight: 700;
    }
    li.link {
      background: rgba(0,0,0,.1);
      display: inline-block;
      width: inherit;
      padding: rem-calc(5) rem-calc(25) rem-calc(5) rem-calc(10);
      position: relative;
      text-transform: uppercase;
      font-weight: 700;
      font-size: rem-calc(12);
      margin-top: rem-calc(10);
      letter-spacing: rem-calc(.5);
      transition: $trans;
      &:hover {
        background: $navy;
      }
    }
    .icon-link {
      font-size: rem-calc(28);
      line-height: rem-calc(0);
      display: inline-block;
      position: absolute;
      right: 0;
      top: rem-calc(14);
    }
  }
  .cal {
    .icon {
      width: 15%;
    }
  }
  .site {
    li {
      font-size: rem-calc(14);
      text-transform: uppercase;
    }
    .icon {
      width: 20%;
    }
    .info {
      width: 80%;
    }
  }

}


.standfirst {
  padding: rem-calc(20) rem-calc(0) rem-calc(40) rem-calc(30);
  background: $lightgold;
  .reminders & {
    background: white;
  }
  h3 {
    font-family: $serif;
    font-weight: normal;
    letter-spacing: 0;
    font-size: rem-calc(26);
    margin-bottom: 0;
  }
  .share, .subnav {
    padding: rem-calc(20) rem-calc(25);
    background: rgba(255,255,255,.5);
    margin-top: rem-calc(20);
    border-top: 1px solid lighten($gold, 25%);
    min-height: rem-calc(200);
    hr {
      margin-bottom: rem-calc(10);
      width: calc(100% + 25px);
    }
  }
  h3 a {
    color: inherit;
    position: relative;
    transition: all ease .1s;
    &::before {
      content: ' ';
      height: 1px;
      left: 0;
      bottom: 1px;
      display: block;
      position: absolute;
      width: 100%;
      background: $navy;
      transition: all ease .1s;
    }
    &:hover {
      &::before {
        bottom: 4px;
      }
    }
  }
  .ire a::before {
    background: $gold;
  }
}

.text {
  padding: rem-calc(30) rem-calc(30) rem-calc(20) rem-calc(30);
  background: $lightgold;

  .large-4:last-of-type {
    float: left;
  }
  p {
    font-size: rem-calc(17);
    padding-bottom: rem-calc(15);
  }

  a {
    color: inherit;
    position: relative;
    transition: all ease .1s;
    &::before {
      content: ' ';
      height: 1px;
      left: 0;
      bottom: -1px;
      display: block;
      position: absolute;
      width: 100%;
      background: $navy;
      transition: all ease .1s;
    }
    &:hover {
      &::before {
        bottom: 2px;
      }
    }
  }
  .ire p a::before {
    background: $gold;
  }
}

.image {
  figure {
    margin: 0 !important;
  }
  figcaption {
    position: absolute;
    top: rem-calc(30);
    left: rem-calc(45);
    color: white;
    font-family: $sans;
    font-weight: 700;
    font-size: rem-calc(15);
    line-height: rem-calc(20);
    .ire {
      color: white;
      font-weight: normal;
    }
  }
  .dark {
    color: $navy;
    .ire {
      color: $navy;
    }
  }
}

.video {
  position: relative;
  img {
    margin: 0;
  }
  .icon-play {
    font-size: rem-calc(90);
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    color: white;
    transition: $trans;
  }
  &:hover {
    cursor: pointer;
    .icon-play {
      opacity: .8; 
    }
  }
}

.slideshow {
  background: lighten($lightgold, 5%);
  height: rem-calc(450);
  overflow: hidden;
  box-shadow: inset 1px 1px 0 0 $gold;
  ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
 
  .arrows {
    position: absolute;
    bottom: rem-calc(20);
    left: rem-calc(30);
    li {
      display: inline-block;
    }
  }

  .caption {
    padding: rem-calc(20) rem-calc(30) rem-calc(20) rem-calc(10);  
    font-family: $sans;
    letter-spacing: rem-calc(-.3);  
    p {
      font-weight: 700;
      line-height: rem-calc(21);
    }
    a {
      color: inherit;
      border-bottom: 1px dotted $gold;
    }
  }

  .slide, .caption {
    display: none;
  }
  .active {
    display: block;
  }

}

.events {
  margin-top: rem-calc(20);
}


// Navigation


.top-bar {
  padding: 20px 0;
  height: 90px;
  @media #{$small-only} {
    padding-bottom: 0px;
  }
  span.icon-logo {
    font-size: rem-calc(80);
    line-height: rem-calc(48);
    &.second {
      color: $gold;
      margin-left: rem-calc(-78.5);
      -webkit-clip-path: polygon(0 47%, 37% 47%, 37% 58%, 0 59%);
      clip-path: polygon(0 47%, 37% 47%, 37% 58%, 0 59%);
    }
  }
  &.expanded {
    .title-area {
      background: transparent;
    }
  }
}

.contain-to-grid, .top-bar {
  background: #0a3740;
  background: -moz-linear-gradient(top, #0a3740 0%, #0b4042 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0a3740), color-stop(100%,#0b4042));
  background: -webkit-linear-gradient(top, #0a3740 0%,#0b4042 100%);
  background: -o-linear-gradient(top, #0a3740 0%,#0b4042 100%);
  background: -ms-linear-gradient(top, #0a3740 0%,#0b4042 100%);
  background: linear-gradient(to bottom, #0a3740 30%,#0b4042 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a3740', endColorstr='#0b4042',GradientType=0 );
}

.top-bar-section li:not(.has-form) a:not(.button), .top-bar-section li:not(.has-form) a:not(.button):hover {
  background: transparent;
}



.primary {
  ul {
      @media #{$small-only} {
        margin: rem-calc(25) 0 0 0;
      } 
    li {
        background: transparent;
        border-left: solid 3px transparent;
        padding: 0 rem-calc(25) 0 rem-calc(5);
        transition: $trans;
        &:last-child, &:nth-last-child(2) {
          padding: 0;
        }
        &:hover {
          background: transparent;
        }
        @media #{$small-only} {
          &:first-child {
            border-top: solid 1px rgba(255,255,255,0.1);
          }
          padding: 0;
          border-bottom: solid 1px rgba(255,255,255,0.1);
          &.social {
            width: 50%;
            float: left;
            text-align: center;
            border-bottom: none;
            a {
              padding: rem-calc(10) rem-calc(15) rem-calc(12) rem-calc(15);
            }
            &:last-child {
              border-left: solid 1px rgba(255,255,255,0.1);
            }
          }
        }
      a {
        color: white;
        font-size: rem-calc(17);
        font-family: $serif;
        // line-height: 1.5em !important;
        line-height: 1.3em !important;
        span {
          line-height: 1.2em !important;
        }
        transition: $trans;
          @media #{$medium-up} {
          margin: 0 !important; 
          padding: 0 !important;
          }        
          @media #{$small-only} {
            padding: rem-calc(6) rem-calc(15) rem-calc(12) rem-calc(15);
            &:hover {
              background: rgba($navy, 0.5) !important;
            }
          }
        span.ire {
          display: block;
          line-height: 1em;
          color: $gold;
        }
      }
    }
  }
}

.icon-twitter, .icon-facebook {
  font-size: rem-calc(32);
  display: inline-block;
  line-height: rem-calc(44);
  a & {
    padding: 0 !important;
  }
}

.primary ul li:hover:not(.has-form) > a  {
  background: none !important;
  background: none !important;

  line-height: 0.8em;

  > span {
    line-height: 0.8em;
  }

}

.top-bar-section ul li:not(.social):hover  {
  border-left: solid 3px white;
  padding: 0 rem-calc(25) 0 rem-calc(5);
}


// Footer

footer.container {
  background: $navy;
  padding: rem-calc(50) 0 rem-calc(30) 0;
  ul {
    margin-left: 0;
  }
  li, p {
    list-style-type: none;
    color: $gold;
    font-size: rem-calc(14);
    line-height: rem-calc(20);
    font-family: $sans;
    margin-bottom: rem-calc(10);
    opacity: .7;
  }
  li.title {
    font-weight: 700;
    opacity: 1;
  }
  li.title span.ire {
    font-style: italic;
  }
  a, a span.ire {
    color: $gold;
    transition: $trans;
  }
  a:hover, a:hover span.ire {
    color: white;
  }
  a.icon-harp {
    font-size: rem-calc(46);
    transition: $trans;
    &:hover {
      color: $darkgold;
    }
  }
}



section.related-partners {
  padding: rem-calc(20) 0 rem-calc(40);
  hr { margin-bottom: rem-calc(10); }

  h4 {
    color: $navy;
    font-weight: 700;
  }

  a {
    font-family: $sans;
    letter-spacing: rem-calc(-.5);
    color: $navy;
    line-height: rem-calc(19);
  }
}


section.related-events {
  padding: rem-calc(50) 0 rem-calc(30);
  background: $lightgold;
  .heading h4 {
    color: $navy;
    font-weight: 700;
  }
}


section.uptodate {
  background: $lightgold;
  padding-bottom: rem-calc(60);

  h4 {
    font-weight: 700;
  }
  h5 {
    margin-bottom: rem-calc(20);
  }
  a.button.tiny {
    margin-top: rem-calc(20);
  }
  .social {
    a {
      display: inline-block;
      width: rem-calc(38);
      height: rem-calc(38);
      background: white;
      border-radius: 100%;
      transition: $trans;
      text-align: center;
      margin: 0 rem-calc(10) 0 0;
      padding: 0 rem-calc(2);
      &:hover {
        background: $gold;
        .icon-twitter, .icon-facebook {
          color: white;
        }
      }
    }

    .icon-twitter, .icon-facebook {
      color: $gold;
      font-size: rem-calc(28);
      line-height: rem-calc(38);
    }
  }
}

section.uptodate.partners {
  background: white;
}

// Page
.page {
  background: $lightgold;  
  .standfirst, .text {
    background: white;
    .subnav {
      position: absolute;
      top: 0;
      padding: 0;
      padding-bottom: rem-calc(5);
      z-index: 1;
      border-top: none;
      width: calc(100% - 20px);
      background: transparent;
      ul, li {
        margin: 0; 
        padding: 0;
        list-style-type: none;
      }

      .title {
        text-transform: uppercase;
        font-weight: 700;
        margin: rem-calc(20) 0;
      }
      ul {
        border-top: 1px solid lighten($gold, 25%);
        margin-bottom: rem-calc(30);
      }
      li {
        font-family: $sans;
        line-height: rem-calc(20);
        margin-bottom: rem-calc(10);
        transition: $trans;
        &:hover:not(.title), &.active {
          pointer: cursor;
          border-left: 3px solid $gold;
          padding-left: rem-calc(8);
        }
      }
      a {
        color: $navy;
      }


    }
  }

}

// Homepage specific componenets
#home {
  // intro
  .hero {
    background: $gold center center no-repeat;
    background-size: cover;
    height: 600px;
    position: relative;
    @media #{$small-only} {
      height: inherit;
    }
    .overlay {
      position: absolute;
      bottom: 0;
      width: 100%;
      background: rgba(255,255,255,.9);
      padding: rem-calc(30) 0 rem-calc(60);
      @media #{$small-only} {
        background: rgba(255,255,255,1);
        position: relative;
        bottom: inherit;
        padding: rem-calc(30) 0 rem-calc(30);
        h1 {
          padding-bottom: rem-calc(10);
        }
      }
      a.more {
        bottom: rem-calc(-30);
          @media #{$small-only} {
            position: inherit;
            bottom: inherit;
            padding-bottom: rem-calc(0);
          }
      }
    }
  }

  // about
  .about {
    background: $lightgold;

    .video {
      & > div {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 70%;
        transform: translate(-50%, -50%);
        transition: $trans;
        span.icon-play {
          float: left; 
          font-size: rem-calc(64);
          color: white;
          width: 20%;
          transition: $trans;
        } 
        h3 {
          float: right;
          color: white;
          width: 80%;
          transition: $trans;
          span.ire {
            color: white;
            font-weight: normal;
            transition: $trans;
          }
        }
      }
      &:hover {
        cursor: pointer;
        .icon-play, h3, .ire {
          color: $gold;
            transition: $trans;
        }

      }
    }

  }

  // highlights
  .highlights {
    background: $lightgold;
    overflow: hidden;

    .tiles {
      float: left;
      width: rem-calc(3000);
      padding: 0 rem-calc(10);
      transition: all ease .4s;
    }
  }

  // signup (this will be needed on about page also so remove from #home)
  input.submit {
    display: block;
  }
}


// Partners listing
.partners {
  background: $lightgold;

  form.search input {
    background: white !important;
  }
  
  .categories ul > li {
    background: white !important;
  }

  .list {
    ul, li {
      margin: 0;
      padding: 0;
      list-style: none !important;
    }

    & > div > ul {
      margin-bottom: rem-calc(40);
    }

    h4 {
      font-family: $serif;
    }

    .external {
      li {
        margin-bottom: rem-calc(10);
        a {
          font-family: $sans;
          line-height: rem-calc(15);
          color: $navy;
        }
      }
    }

    li.row {
      padding: rem-calc(20) rem-calc(10);
      background: white;
      margin-bottom: rem-calc(1);
      .large-3 {
        padding-left: rem-calc(20);
      } 
    }

    li.title {
      background: $navy;
      padding: rem-calc(20) rem-calc(30);
      h2 {
        color: white;
        font-size: rem-calc(22);
      }
    }
  }

}


// Signup
.signup {

  position: relative;

  .large-1 {
    text-align: center; 
    span { 
      position: absolute;
      width: rem-calc(1);
      height: rem-calc(160);
      background: lighten($gold, 30%);
    }
  }

  a {
    display: inline-block;
    width: rem-calc(38);
    height: rem-calc(38);
    background: $lightgold;
    border-radius: 100%;
    transition: $trans;
    text-align: center;
    margin: rem-calc(20) rem-calc(10) 0 0;
    padding: 0 rem-calc(2);
    &:hover {
      background: $gold;
      .icon-twitter, .icon-facebook {
        color: white;
      }
    }
  }

  .icon-twitter, .icon-facebook {
    color: $gold;
    font-size: rem-calc(28);
    line-height: rem-calc(38);
  }

  label {
    color: $navy;
    font-family: $sans;
    font-size: rem-calc(14);
  }

  input[type="text"] {
    border: none;
    background: $lightgold;
    box-shadow: none;
    padding: rem-calc(16);
    color: $gold;
    margin-top: rem-calc(10);
    font-size: rem-calc(14);
    height: inherit;
    font-weight: 700;
    text-transform: uppercase;
  }
  input[type="submit"] {
    margin-top: rem-calc(31);
    padding: rem-calc(17);
    font-weight: 700;
  }
  input[type="submit"]:focus {
    background: $navy;
    outline: none;
  }
}


// individual homepage highlight
.highlight {
  position: relative;
  float: left;
  width: rem-calc(530);
  margin-right: rem-calc(20);

  img {
    width: 100%;
    max-height: rem-calc(300);
  }
  .info {
    padding: rem-calc(20) rem-calc(23);
    height: rem-calc(250);
  }
  footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: rem-calc(0) rem-calc(23) rem-calc(20);
  }
  .date {
    font-family: $sans;
    text-transform: uppercase;
    color: rgba(255,255,255,.6);
  }
}

.heading {
  margin-bottom: rem-calc(30);
  
  .right {
    vertical-align: top;
  }

  form.search {
    float: left;
    position: relative;
    input { 
      // display: inline-block;
      display: block;
      float: left;
      background: $lightgold;
      padding: rem-calc(11) rem-calc(11) rem-calc(10) !important;
      border: none;
      height: inherit;
      box-shadow: none;
      font-size: rem-calc(18);
      width: rem-calc(45);
      transition: $trans;
    }
    input.open {
      width: rem-calc(250); 
    }
    span.icon-search {
      position: absolute;
      font-size: rem-calc(36);
      padding: rem-calc(5) rem-calc(4) rem-calc(6) rem-calc(4);
      right: 0;
      transition: $trans;
      color: $gold;
      &:hover {
        color: $navy;
      }
    }
  }

  .categories {
    float: left;
    margin: 0 rem-calc(3);
    ul {
      min-width: rem-calc(250);
      
    }
    ul, li { 
      margin: 0 !important; 
      padding: 0 !important; 
    }
    li {
      list-style-type: none;
      a {
        color: $navy;
      }
      &:hover {
        a {
          color: $gold;
        }
      }
    }
    // a {
    //   color: $navy;
    //   transition: $trans;
     
    // }
    ul > ul { 
      position: absolute;
      display: none;
      z-index: 9999;
      &.active {
        display: block;
      }
    }
    ul > li {
      display: block;
      font-family: $sans;
      text-transform: uppercase;
      font-weight: 700;
      background: $lightgold;
      padding: rem-calc(10) rem-calc(10) rem-calc(10) rem-calc(15) !important;
      cursor: pointer;
    }
    span.icon-arrow {
      float: right;
      font-size: rem-calc(26);
      color: $gold;
      &.active {
        transform: rotate(180deg);
      }
    }
    

  }

  .view {
    
    float: left;
  
    a {
      display: inline-block;
      width: rem-calc(45);
      height: rem-calc(45);
      background: $lightgold;
      text-align: center;
      font-size: rem-calc(35);
      color: $gold;
      transition: $trans;
    }
    a.active, a:hover {
      background: $navy;
      color: white;
    }
  }


  @media #{$small-only} {
    span {
      display: block;
    }
  }
}