<footer class="container">
	<div class="row">
		<div class="medium-2 columns">
			<a href="#" class="icon-harp"></a>	
		</div>
		<div class="medium-4 columns">
			<ul>
				<li class="title">Ireland 2016 <span class="ire">Éire 2016</span></li>
				<li>2016 Project Office <span class="ire break">Oifig Thionscadal Cuimhneacháin 2016</span></li>
				<li>23 Kildare Street, Dublin 2, Ireland <span class="ire break">23 Sráid Chill Dara, Baile Atha Cliath 2, Éire</span></li>
				<li>e: <a href="mailto:info@ireland.ie">info@ireland.ie</a></li>
			</ul>
		</div>
		<div class="medium-2 columns">
			<ul>
				<li class="title"><a href="#">About <span class="ire">Fúinn</span></a></li>
				<li><a href="#">The Centenary Programme <span class="ire break">An Clár Céad Bliain</span></a></li>
				<li><a href="#">Partners <span class="ire break">Comhpháirtithe</span></a></li>
				<li><a href="#">Privacy Policy <span class="ire break">Polasaí Príobháideachta</span></a></li>
				<li><a href="#">Terms <span class="ire break">Téarmaí</span></a></li>
			</ul>
		</div>
		<div class="medium-2 columns">
			<ul>
				<li class="title"><a href="#">History <span class="ire">Stair</span></a></li>
				<li><a href="#">1916</a></li>
				<li><a href="#">The Signatories <span class="ire break">Na Sínitheoirí</span></a></li>
				<li class="title"><a href="#">Events <span class="ire">Imeachtaí</span></a></li>
				<li><a href="#">Permanent Reminders <span class="ire break">Permanent Reminders</span></a></li>
				<li><a href="#">Browser All <span class="ire break">Brabhsáil Gach</span></a></li>
				<li class="title"><a href="#">News <span class="ire">Nuacht</span></a></li>
			</ul>
		</div>
		<div class="medium-2 columns">
			<ul>
				<li class="title"><a href="#">Contact <span class="ire">Teahmháil</span></a></li>
				<li><a href="#">Project Team <span class="ire break">Foireann an Tionscadail</span></a></li>
				<li><a href="#">Relations Application Forms <span class="ire break">Relations Application Forms </span></a></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="medium-2 columns">
			<a href="https://twitter.com/ireland2016"><span class="icon-twitter"></span></a>
			<a href="https://www.facebook.com/wwwIreland2016"><span class="icon-facebook"></span></a>	
		</div>
		<div class="medium-2 columns medium-offset-8">
			<p>Copyright &copy; 2015</p>
		</div>
	</div>
</footer>