<footer class="container">
	<div class="row">
		<div class="medium-2 columns">
			<a href="#">Harp</a>	
		</div>
		<div class="medium-4 columns">
			<ul>
				<li class="title">Ireland 2016 <span class="ire">Éire 2016</span></li>
				<li>2016 Project Office <span class="ire break">Oifig Thionscadal Cuimhneacháin 2016</span></li>
				<li>23 Kildare Street, Dublin 2, Ireland <span class="ire break">23 Sráid Chill Dara, Baile Atha Cliath 2, Éire</span></li>
				<li>e: <a href="mailto:info@ireland.ie">info@ireland.ie</a></li>
			</ul>
		</div>
		<div class="medium-2 columns">
			<ul>
				<li class="title">About <span class="ire">Fúinn</span></li>
				<li>The Centenary Programme <span class="ire break">An Clár Céad Bliain</span></li>
				<li>Partners <span class="ire break">Comhpháirtithe</span></li>
				<li>Privacy Policy <span class="ire break">Polasaí Príobháideachta</span></li>
				<li>Terms <span class="ire break">Téarmaí</span></li>
			</ul>
		</div>
		<div class="medium-2 columns">
			<ul>
				<li class="title">History <span class="ire">Stair</span></li>
				<li>1916</li>
				<li>The Signatories <span class="ire break">Na Sínitheoirí</span></li>
				<li class="title">Events <span class="ire">Imeachtaí</span></li>
				<li>Permanent Reminders <span class="ire break">Permanent Reminders</span></li>
				<li>Browser All <span class="ire break">Brabhsáil Gach</span></li>
				<li class="title">News <span class="ire">Nuacht</span></li>
			</ul>
		</div>
		<div class="medium-2 columns">
			<ul>
				<li class="title">Contact <span class="ire">Teahmháil</span></li>
				<li>Project Team <span class="ire break">Foireann an Tionscadail</span></li>
				<li>Relations Application Forms <span class="ire break">Relations Application Forms </span></li>
				
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="medium-2 columns">
			<a href="https://twitter.com/ireland2016"><i class="fi-social-twitter"></i></a>
			<a href="https://www.facebook.com/wwwIreland2016"><i class="fi-social-facebook"></i></a>	
		</div>
		<div class="medium-2 columns medium-offset-8">
			<p>Copyright &copy; 2015</p>
		</div>
	</div>
</footer>