<div class="fixed contain-to-grid">
	<nav class="top-bar" data-topbar role="navigation">
		<ul class="title-area">
			<li class="name"><h1><a href="#">Ireland 2016</a></h1></li>
			<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
		</ul>

		<section class="top-bar-section">
			<ul class="right">
				<li><a href="#">About <span>Fúinn</span></a></li>
				<li><a href="#">Partners <span>Comhpháirtithe</span></a></li>
				<li><a href="#">History <span>Stair</span></a></li>
				<li><a href="#">Events <span>Imeachtaí</span></a></li>
				<li><a href="#">News <span>Nuacht</span></a></li>
				<li><a href="#">Contact <span>Teagmháil</span></a></li>
				<li><a href="https://twitter.com/ireland2016"><i class="fi-social-twitter"></i></a></li>
				<li><a href="https://www.facebook.com/wwwIreland2016"><i class="fi-social-facebook"></i></a></li>
				<!-- <li class="has-dropdown">
					<a href="#">Right Button Dropdown</a>
					<ul class="dropdown">
						<li><a href="#">First link in dropdown</a></li>
						<li class="active"><a href="#">Active link in dropdown</a></li>
					</ul>
				</li> -->
			</ul>
		</section>
	</nav>
</div>