<div class="fixed contain-to-grid">
	<nav class="top-bar" data-topbar role="navigation">
		<ul class="title-area">
			<li class="name"><h1><a href="#"><span class="icon-logo"></span><span class="icon-logo second"></span></a></h1></li>
			<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
		</ul>

		<section class="top-bar-section primary">
			<ul class="right">
				<li><a href="#">About <span class="ire">Fúinn</span></a></li>
				<li><a href="#">Partners <span class="ire">Comhpháirtithe</span></a></li>
				<li><a href="#">History <span class="ire">Stair</span></a></li>
				<li><a href="#">Events <span class="ire">Imeachtaí</span></a></li>
				<li><a href="#">News <span class="ire">Nuacht</span></a></li>
				<li><a href="#">Contact <span class="ire">Teagmháil</span></a></li>
				<li class="social"><a href="https://twitter.com/ireland2016"><span class="icon-twitter"></span></a></li>
				<li class="social"><a href="https://www.facebook.com/wwwIreland2016"><span class="icon-facebook"></span></a></li>
				<!-- <li class="has-dropdown">
					<a href="#">Right Button Dropdown</a>
					<ul class="dropdown">
						<li><a href="#">First link in dropdown</a></li>
						<li class="active"><a href="#">Active link in dropdown</a></li>
					</ul>
				</li> -->
			</ul>
		</section>
	</nav>
</div>