	<section class="container category">
		<div class="row">
			<div class="large-12 column heading">
				<div class="left">
				<h3>Events <span class="ire">Imeachtaí</span></h3>
				</div>
				<div class="right">
					<a href="" class="button tiny arrow">Back to Events</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="large-12 column">
				<div class="title">
					<div class="left">
						<h1>Galway <span class="ire break">Gaillimh</span></h1>
					</div>
					<!-- <div class="right">
						<span class="icon-state"></span>
						<span class="icon-historic"></span>
					</div> -->
				</div>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
				<div class="standfirst">
					<div class="row">
						<div class="large-9 columns">
							<hr>
							<h3>The Government is supporting seven capital projects for the centenary, providing enhanced visitor experience and access at important locations related to the Rising or to events and people of that time.</h3>
							<h3 class="ire">Tá an Rialtas ag tacú le seacht dtionscadal caipitil don chomóradh céad bliain, a chuirfidh go mór le heispéireas agus rochtain chuairteoirí ag suíomhanna tábhachtacha a bhaineann leis an Éirí Amach nó le himeachtaí agus daoine na linne sin.
							</h3>
						</div>					
						<div class="large-3 columns">
							<div class="share">
								<h5>Share Events: <span class="ire break">Nuacht is Déanaí</span></h5>
								<a class="circle" href="https://twitter.com/ireland2016"><span class="icon-twitter"></span></a>
								<a class="circle" href="https://www.facebook.com/wwwIreland2016"><span class="icon-facebook"></span></a>
							</div>
						</div>
					</div>
				</div>
					
			</div>
		</div>

		<div class="row events grid">
			
			<div class="event large-4 medium-6 columns">
				<div class="info" style="background-image: url(http://placehold.it/)">
					<span class="date">09.15.16</span>
					<h4>Opening event of the State Commemorative Programme<span class="ire break">Imeacht tosaigh an Chláir Chomórtha Stáit</span></h4>
					<a href="#" class="more">Níos Mó</a>
				</div>
				<img src="http://placehold.it/550x300" alt="">
			</div>
			
			<div class="event large-4 medium-6 columns">
				<div class="info language" style="background-image: url(http://placehold.it/)">
					<span class="date">09.15.16</span>
					<h4>Easter Rising Centenary Visitor Facility at the GPO<span class="ire break">Saoráid do Chuairteoirí um Chomóradh Céad Bliain Éirí Amach na Cásca ag Ard-Oifig an Phoist</span></h4>
					<a href="#" class="more">Níos Mó</a>
				</div>
				<img src="http://placehold.it/550x300" alt="">
			</div>

			<div class="event large-4 medium-6 columns">
				<div class="info youth">
					<span class="date">09.15.16</span>
					<h4>Garden of Remembrance Ceremony <span class="ire break">Searmanas an Ghairdín Chuimhneacháit</span></h4>
					<a href="#" class="more">Níos Mó</a>
				</div>
				<img src="http://placehold.it/550x300" alt="">
			</div>

			<div class="event large-4 medium-6 columns">
				<div class="info state">
					<span class="date">09.15.16</span>
					<h4>Garden of Remembrance Ceremony <span class="ire break">Searmanas an Ghairdín Chuimhneacháit</span></h4>
					<a href="#" class="more">Níos Mó</a>
				</div>
				<img src="http://placehold.it/550x300" alt="">
			</div>

			<div class="event large-4 medium-6 columns">
				<div class="info">
					<span class="date">09.15.16</span>
					<h4>Garden of Remembrance Ceremony <span class="ire break">Searmanas an Ghairdín Chuimhneacháit</span></h4>
					<a href="#" class="more">Níos Mó</a>
				</div>
				<img src="http://placehold.it/550x300" alt="">
			</div>

			<div class="event large-4 medium-6 columns">
				<div class="info youth">
					<span class="date">09.15.16</span>
					<h4>Garden of Remembrance Ceremony <span class="ire break">Searmanas an Ghairdín Chuimhneacháit</span></h4>
					<a href="#" class="more">Níos Mó</a>
				</div>
				<span class="icon-youth"></span>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
				<a href="#" class="button">Níos Mó</a>
			</div>
		</div>
	</section>

	<section class="container uptodate">
		<div class="row">
			<div class="large-12 column heading">
				<div class="left">
					<h4>Stay up-to-date <span class="ire">Fan suas chun dáta</span></h4>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="large-4 columns social">
				<hr>
				<h5>Follow Us <span class="ire break">Lean linn</span></h5>
				<a href="https://twitter.com/ireland2016"><span class="icon-twitter"></span></a>
				<a href="https://www.facebook.com/wwwIreland2016"><span class="icon-facebook"></span></a>
			</div>
			<div class="large-4 columns">
				<hr>
				<h5>News <span class="ire break">Nuacht</span></h5>
				<p>Follow the latest news from the Ireland 2016 team including updates of events and programme updates.</p>
				<p class="ire">Lean an nuacht is déanaí ó fhoireann na hÉireann 2016 lena n-áirítear nuashonruithe imeachtaí agus nuashonruithe chláir.</p>
				<a href="#" class="button tiny">Níos Mó</a>
				<hr class="show-onlu">
			</div>
			<div class="large-4 columns">
				<hr>
				<h5>Partners <span class="ire break">Comhpháirtithe</span></h5>
				<p>Stay up-to-date with our Partners and follow what’s on in your area, helping to commemorate Ireland 2016.</p>
				<p class="ire">Fan suas chun dáta lenár gComhpháirtithe agus a leanúint cad ar i do cheantar , ag cabhrú chun comóradh Éire 2016.</p>
				<a href="#" class="button tiny">Níos Mó</a>
				<hr>
			</div>
		</div>
	</section>

