	<section class="container events">
		<div class="row">
			<div class="large-12 column heading">
				<div class="left">
				<h3>Events <span class="ire">Imeachtaí</span></h3>
				</div>
				<div class="right">
          <form action="/events" method="get" id="views-exposed-form-events-basic-page-1" accept-charset="UTF-8">
            <div>
              <div class="views-exposed-form">
                <div class="views-exposed-widgets clearfix">
                  <div id="edit-tid-wrapper" class="views-exposed-widget views-widget-filter-tid">
                    <div class="views-widget">
                      <div class="form-item form-type-select form-item-tid">
                        <select id="edit-tid" name="tid" class="form-select">
                          <option value="All" selected="selected">- Any -</option><option value="10">State Ceremonial</option><option value="8">Historical Reflection</option>
                          <option value="11">Cultural Expression</option>
                          <option value="12">Community Participation</option>
                          <option value="13">Global and Diaspora</option>
                          <option value="9">An Teanga Bheo</option>
                          <option value="14">Youth and Imagination</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="views-exposed-widget views-submit-button">
                    <input type="submit" id="edit-submit-events-basic" name="" value="Apply" class="form-submit">
                  </div>
                </div>
              </div>
            </div>
          </form>
					<div class="view">
						<a href="#" class="active">
							<span class="icon-grid"></span>
						</a>
						<a href="#">
							<span class="icon-list"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row events grid">
			
			<div class="event large-12 columns">
				<div class="info historic">
					<span class="date">09.15.16</span>
					<div class="location">
						<span data-tooltip aria-haspopup="true" class="icon-location has-tip tip-top" title="GPO Dublin <br/> GPO Dublin"></span>
					</div>
					<h4>Proclamation Day <span class="ire break">Lá Forógra</span></h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et debitis mollitia illo exercitationem, optio autem?</p>
					<p class="ire">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, omnis doloremque. Perspiciatis eum, sunt possimus.</p>
					<a href="#" class="more">Níos Mó</a>
				</div>
				<div class="pic middle" style="background-image: url(http://placehold.it/920x500);"></div>
			</div>

			<div class="event large-4 medium-6 columns">
				<div class="info historic" style="background-image: url(http://placehold.it/)">
					<span class="date">09.15.16</span>
					<div class="location">
						<span data-tooltip aria-haspopup="true" class="icon-location has-tip tip-top" title="GPO Dublin <br/> GPO Dublin"></span>
					</div>
					<h4>Garden of Remembrance Ceremony <span class="ire break">Searmanas an Ghairdín Chuimhneacháit</span></h4>
					<a href="#" class="more">Níos Mó</a>
				</div>
				<img src="http://placehold.it/550x300" alt="">
			</div>
			
			<div class="event large-4 medium-6 columns">
				<div class="info language" style="background-image: url(http://placehold.it/)">
					<span class="date">09.15.16</span>
					<div class="location">
						<span data-tooltip aria-haspopup="true" class="icon-location has-tip tip-top" title="GPO Dublin <br/> GPO Dublin"></span>
					</div>
					<h4>Garden of Remembrance Ceremony <span class="ire break">Searmanas an Ghairdín Chuimhneacháit</span></h4>
					<a href="#" class="more">Níos Mó</a>
				</div>
				<img src="http://placehold.it/550x300" alt="">
			</div>

			<div class="event large-4 medium-6 columns">
				<div class="info youth">
					<span class="date">09.15.16</span>
					<div class="location">
						<span data-tooltip aria-haspopup="true" class="icon-location has-tip tip-top" title="GPO Dublin <br/> GPO Dublin"></span>
					</div>
					<h4>Garden of Remembrance Ceremony <span class="ire break">Searmanas an Ghairdín Chuimhneacháit</span></h4>
					<a href="#" class="more">Níos Mó</a>
				</div>
				<img src="http://placehold.it/550x300" alt="">
			</div>

			<div class="event large-4 medium-6 columns">
				<div class="info state">
					<span class="date">09.15.16</span>
					<div class="location">
						<span data-tooltip aria-haspopup="true" class="icon-location has-tip tip-top" title="GPO Dublin <br/> GPO Dublin"></span>
					</div>
					<h4>Garden of Remembrance Ceremony <span class="ire break">Searmanas an Ghairdín Chuimhneacháit</span></h4>
					<a href="#" class="more">Níos Mó</a>
				</div>
				<img src="http://placehold.it/550x300" alt="">
			</div>

			<div class="event large-4 medium-6 columns">
				<div class="info">
					<span class="date">09.15.16</span>
					<div class="location">
						<span data-tooltip aria-haspopup="true" class="icon-location has-tip tip-top" title="GPO Dublin <br/> GPO Dublin"></span>
					</div>
					<h4>Garden of Remembrance Ceremony <span class="ire break">Searmanas an Ghairdín Chuimhneacháit</span></h4>
					<a href="#" class="more">Níos Mó</a>
				</div>
				<img src="http://placehold.it/550x300" alt="">
			</div>

			<div class="event large-4 medium-6 columns">
				<div class="info language">
					<span class="date">09.15.16</span>
					<div class="location">
						<span data-tooltip aria-haspopup="true" class="icon-location has-tip tip-top" title="GPO Dublin <br/> GPO Dublin"></span>
					</div>
					<h4>Garden of Remembrance Ceremony <span class="ire break">Searmanas an Ghairdín Chuimhneacháit</span></h4>
					<a href="#" class="more">Níos Mó</a>
				</div>
				<div class="graphic language">
					<div class="scaleme">
						<div class="content">
							<span class="icon-language"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
				<a href="#" class="button">Níos Mó</a>
			</div>
		</div>
	</section>

	<section class="container uptodate">
		<div class="row">
			<div class="large-12 column heading">
				<div class="left">
					<h4>Stay up-to-date <span class="ire">Fan suas chun dáta</span></h4>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="large-4 columns social">
				<hr>
				<h5>Follow Us <span class="ire break">Lean linn</span></h5>
				<a href="https://twitter.com/ireland2016"><span class="icon-twitter"></span></a>
				<a href="https://www.facebook.com/wwwIreland2016"><span class="icon-facebook"></span></a>
			</div>
			<div class="large-4 columns">
				<hr>
				<h5>News <span class="ire break">Nuacht</span></h5>
				<p>Follow the latest news from the Ireland 2016 team including updates of events and programme updates.</p>
				<p class="ire">Lean an nuacht is déanaí ó fhoireann na hÉireann 2016 lena n-áirítear nuashonruithe imeachtaí agus nuashonruithe chláir.</p>
				<a href="#" class="button tiny">Níos Mó</a>
				<hr class="show-onlu">
			</div>
			<div class="large-4 columns">
				<hr>
				<h5>Partners <span class="ire break">Comhpháirtithe</span></h5>
				<p>Stay up-to-date with our Partners and follow what’s on in your area, helping to commemorate Ireland 2016.</p>
				<p class="ire">Fan suas chun dáta lenár gComhpháirtithe agus a leanúint cad ar i do cheantar , ag cabhrú chun comóradh Éire 2016.</p>
				<a href="#" class="button tiny">Níos Mó</a>
				<hr>
			</div>
		</div>
	</section>

