	<section class="container events">
		<div class="row">
			<div class="large-12 column heading">
				<div class="left">
				<h3>Events <span class="ire">Imeachtaí</span></h3>
				</div>
				<div class="right">
					<form class="search" method="get" action="">
						<input id="search" type="text" class="" value=""/>
						<span class="icon-search"></span>
					</form>
					<div class="categories">
						<ul>
							<li><a href="#">Everything <span class="icon-arrow"></span></a></li>
							<ul>
								<li><a href="#">One</a></li>
								<li><a href="#">Two</a></li>
								<li><a href="#">Three</a></li>
								<li><a href="#">Four</a></li>
								<li><a href="#">Five</a></li>
								<li><a href="#">Six</a></li>
							</ul>
						</ul>
					</div>
					<div class="view">
						<a href="#" class="active">
							<span class="icon-grid"></span>
						</a>
						<a href="#">
							<span class="icon-list"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row events grid">
			
			<div class="event large-12 columns">
				<div class="info historic">
					<span class="date">09.15.16</span>
					<div class="location">
						<span data-tooltip aria-haspopup="true" class="icon-location has-tip tip-top" title="GPO Dublin <br/> GPO Dublin"></span>
					</div>
					<h4>Proclamation Day <span class="ire break">Lá Forógra</span></h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et debitis mollitia illo exercitationem, optio autem?</p>
					<p class="ire">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, omnis doloremque. Perspiciatis eum, sunt possimus.</p>
					<a href="#" class="more">Níos Mó</a>
				</div>
				<div class="pic middle" style="background-image: url(http://placehold.it/920x500);"></div>
			</div>

			<div class="event large-4 medium-6 columns">
				<div class="info historic" style="background-image: url(http://placehold.it/)">
					<span class="date">09.15.16</span>
					<div class="location">
						<span data-tooltip aria-haspopup="true" class="icon-location has-tip tip-top" title="GPO Dublin <br/> GPO Dublin"></span>
					</div>
					<h4>Garden of Remembrance Ceremony <span class="ire break">Searmanas an Ghairdín Chuimhneacháit</span></h4>
					<a href="#" class="more">Níos Mó</a>
				</div>
				<img src="http://placehold.it/550x300" alt="">
			</div>
			
			<div class="event large-4 medium-6 columns">
				<div class="info language" style="background-image: url(http://placehold.it/)">
					<span class="date">09.15.16</span>
					<div class="location">
						<span data-tooltip aria-haspopup="true" class="icon-location has-tip tip-top" title="GPO Dublin <br/> GPO Dublin"></span>
					</div>
					<h4>Garden of Remembrance Ceremony <span class="ire break">Searmanas an Ghairdín Chuimhneacháit</span></h4>
					<a href="#" class="more">Níos Mó</a>
				</div>
				<img src="http://placehold.it/550x300" alt="">
			</div>

			<div class="event large-4 medium-6 columns">
				<div class="info youth">
					<span class="date">09.15.16</span>
					<div class="location">
						<span data-tooltip aria-haspopup="true" class="icon-location has-tip tip-top" title="GPO Dublin <br/> GPO Dublin"></span>
					</div>
					<h4>Garden of Remembrance Ceremony <span class="ire break">Searmanas an Ghairdín Chuimhneacháit</span></h4>
					<a href="#" class="more">Níos Mó</a>
				</div>
				<img src="http://placehold.it/550x300" alt="">
			</div>

			<div class="event large-4 medium-6 columns">
				<div class="info state">
					<span class="date">09.15.16</span>
					<div class="location">
						<span data-tooltip aria-haspopup="true" class="icon-location has-tip tip-top" title="GPO Dublin <br/> GPO Dublin"></span>
					</div>
					<h4>Garden of Remembrance Ceremony <span class="ire break">Searmanas an Ghairdín Chuimhneacháit</span></h4>
					<a href="#" class="more">Níos Mó</a>
				</div>
				<img src="http://placehold.it/550x300" alt="">
			</div>

			<div class="event large-4 medium-6 columns">
				<div class="info">
					<span class="date">09.15.16</span>
					<div class="location">
						<span data-tooltip aria-haspopup="true" class="icon-location has-tip tip-top" title="GPO Dublin <br/> GPO Dublin"></span>
					</div>
					<h4>Garden of Remembrance Ceremony <span class="ire break">Searmanas an Ghairdín Chuimhneacháit</span></h4>
					<a href="#" class="more">Níos Mó</a>
				</div>
				<img src="http://placehold.it/550x300" alt="">
			</div>

			<div class="event large-4 medium-6 columns">
				<div class="info language">
					<span class="date">09.15.16</span>
					<div class="location">
						<span data-tooltip aria-haspopup="true" class="icon-location has-tip tip-top" title="GPO Dublin <br/> GPO Dublin"></span>
					</div>
					<h4>Garden of Remembrance Ceremony <span class="ire break">Searmanas an Ghairdín Chuimhneacháit</span></h4>
					<a href="#" class="more">Níos Mó</a>
				</div>
				<div class="graphic language">
					<div class="scaleme">
						<div class="content">
							<span class="icon-language"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
				<a href="#" class="button">Níos Mó</a>
			</div>
		</div>
	</section>

	<section class="container uptodate">
		<div class="row">
			<div class="large-12 column heading">
				<div class="left">
					<h4>Stay up-to-date <span class="ire">Fan suas chun dáta</span></h4>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="large-4 columns social">
				<hr>
				<h5>Follow Us <span class="ire break">Lean linn</span></h5>
				<a href="https://twitter.com/ireland2016"><span class="icon-twitter"></span></a>
				<a href="https://www.facebook.com/wwwIreland2016"><span class="icon-facebook"></span></a>
			</div>
			<div class="large-4 columns">
				<hr>
				<h5>News <span class="ire break">Nuacht</span></h5>
				<p>Follow the latest news from the Ireland 2016 team including updates of events and programme updates.</p>
				<p class="ire">Lean an nuacht is déanaí ó fhoireann na hÉireann 2016 lena n-áirítear nuashonruithe imeachtaí agus nuashonruithe chláir.</p>
				<a href="#" class="button tiny">Níos Mó</a>
				<hr class="show-for-medium-up">
			</div>
			<div class="large-4 columns">
				<hr>
				<h5>Partners <span class="ire break">Comhpháirtithe</span></h5>
				<p>Stay up-to-date with our Partners and follow what’s on in your area, helping to commemorate Ireland 2016.</p>
				<p class="ire">Fan suas chun dáta lenár gComhpháirtithe agus a leanúint cad ar i do cheantar , ag cabhrú chun comóradh Éire 2016.</p>
				<a href="#" class="button tiny">Níos Mó</a>
				<hr>
			</div>
		</div>
	</section>

