<div id="home">

	<section class="container hero" style="background-image: url(http://placehold.it/1400x760/666);">
		<img src="http://placehold.it/1400x760/666" class="show-for-small-only" alt="">
		<div class="overlay">
			<div class="row">
				<div class="small-12 column">
					<span class="date">1.6.2016 &mdash; GPO, Dublin / GPO Dublin</span>
				</div>
			</div>
			<div class="row">
				<div class="medium-6 columns">
					<h1>Proclamation Day <span class="ire break">Lá Forógra</span></h1>
					<a href="#" class="more show-for-medium-up">Níos Mo</a>
				</div>

				<div class="medium-6 columns">
					<div class="row">
						<div class="medium-6 columns">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, quam, expedita. Totam dolorum sit ullam nisi dicta, minima, earum ipsa.</p>
						</div>
						<div class="medium-6 columns">
							<p class="ire">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea eaque similique error sunt itaque odit consectetur voluptates labore facere, eum expedita dolore, alias ipsam non sed nobis rerum accusantium corrupti.</p>
						</div>
						<div class="columns show-for-small-only">
							<a href="#" class="more">Níos Mo</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="container highlights">
		<div class="row">
			<div class="large-12 column heading">
				<div class="left">
				<h3>Programme Highlights <span class="ire">Buaicphointí Clár</span></h3>
				</div>
				<div class="right">
					<a href="#" class="arrowleft dim"><span class="icon-arrow pointleft"></span></a>
					<a href="#" class="arrowright"><span class="icon-arrow pointright"></span></a>
				</div>
			</div>
			<div class="tiles">

				<div class="highlight historic">
					<img src="http://placehold.it/550x300" alt="">
					<div class="info">
						<h4>Crowds gather to watch the Garden of Remembrnace Ceremoney <span class="ire break">Sluaite bhailiú chun féachaint ar an Gairdín na Remembrnace Ceremoney</span></h4>
						<footer>
							<div class="left">
								<span class="icon-historic"></span>
								<span class="icon-culture"></span>
							</div>
							<div class="right">
								<span class="date">20.09.16</span>
							</div>
						</footer>
					</div>
				</div>

				<div class="highlight historic">
					<img src="http://placehold.it/550x300" alt="">
					<div class="info">
						<h4>Crowds gather to watch the Garden of Remembrnace Ceremoney <span class="ire break">Sluaite bhailiú chun féachaint ar an Gairdín na Remembrnace Ceremoney</span></h4>
						<footer>
							<div class="left">
								<span class="icon-historic"></span>
								<span class="icon-culture"></span>
							</div>
							<div class="right">
								<span class="date">20.09.16</span>
							</div>
						</footer>
					</div>
				</div>
							
				<div class="highlight language">
					<img src="http://placehold.it/550x300" alt="">
					<div class="info">
						<h4>Event Title <span class="ire break">Event Title</span></h4>
						<footer>
							<div class="left">
								<span class="icon-state"></span>
								<span class="icon-historic"></span>
							</div>
							<div class="right">
								<span class="date">20.09.16</span>
							</div>
						</footer>
					</div>
				</div>
			
				<div class="highlight language">
					<img src="http://placehold.it/550x300" alt="">
					<div class="info">
						<h4>Event Title <span class="ire break">Event Title</span></h4>
						<footer>
							<div class="left">
								<span class="icon-state"></span>
								<span class="icon-historic"></span>
							</div>
							<div class="right">
								<span class="date">20.09.16</span>
							</div>
						</footer>	
					</div>
				</div>
			
			</div>
		</div>
	</section>

	<section class="container newsandevents">
		<div class="row">
			<div class="large-12 column heading">
				<div class="left">
				<h3>News and Events <span class="ire">Nuacht agus Imeachtaí</span></h3>
				</div>
			</div>
		</div>
		<div class="row">
			
			<div class="event large-12 columns">
				<div class="info historic">
					<span class="date">09.15.16</span>
					<span class="eventtype"></span>
					<h4>Proclamation Day <span class="ire break">Lá Forógra</span></h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et debitis mollitia illo exercitationem, optio autem?</p>
					<p class="ire">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, omnis doloremque. Perspiciatis eum, sunt possimus.</p>
					<a href="#" class="more">Níos Mó</a>
				</div>
				<!-- PostNote: can use .left, .middle, .right here for items with .pic to handle image alignment -->
				<div class="pic middle" style="background-image: url(http://placehold.it/920x500);"></div>
			</div>

			<div class="event large-8 columns">
				<div class="info historic">
					<span class="date">09.15.16</span>
					<span class="eventtype"></span>
					<h4>Proclamation Day <span class="ire break">Lá Forógra</span></h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et debitis mollitia illo exercitationem, optio autem?</p>
					<p class="ire">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, omnis doloremque. Perspiciatis eum, sunt possimus.</p>
					<a href="#" class="more">Níos Mó</a>
				</div>
				<div class="pic middle" style="background-image: url(http://placehold.it/920x500);"></div>
			</div>
			
			<div class="event large-4 medium-6 columns">
				<div class="info language" style="background-image: url(http://placehold.it/)">
					<span class="date">09.15.16</span>
					<span class="eventtype"></span>
					<h4>Garden of Remembrance Ceremony <span class="ire break">Searmanas an Ghairdín Chuimhneacháit</span></h4>
					<a href="#" class="more">Níos Mó</a>
				</div>
				<img src="http://placehold.it/550x300" alt="">
			</div>
			<div class="event large-4 medium-6 columns">
				<div class="info youth">
					<span class="date">09.15.16</span>
					<span class="eventtype"></span>
					<h4>Garden of Remembrance Ceremony <span class="ire break">Searmanas an Ghairdín Chuimhneacháit</span></h4>
					<a href="#" class="more">Níos Mó</a>
				</div>
				<img src="http://placehold.it/550x300" alt="">
			</div>
			<div class="event large-4 medium-6 columns">
				<div class="info state">
					<span class="date">09.15.16</span>
					<span class="newstype"></span>
					<h4>Garden of Remembrance Ceremony <span class="ire break">Searmanas an Ghairdín Chuimhneacháit</span></h4>
					<a href="#" class="more">Níos Mó</a>
				</div>
				<img src="http://placehold.it/550x300" alt="">
			</div>
			<div class="event large-4 medium-6 columns">
				<div class="info">
					<span class="date">09.15.16</span>
					<span class="eventtype"></span>
					<h4>Garden of Remembrance Ceremony <span class="ire break">Searmanas an Ghairdín Chuimhneacháit</span></h4>
					<a href="#" class="more">Níos Mó</a>
				</div>
				<img src="http://placehold.it/550x300" alt="">
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
				<a href="#" class="button">Níos Mó</a>
			</div>
		</div>
	</section>


	<section class="container about">
		<div class="row">
			<div class="large-12 column heading">
				<div class="left">
					<h3>About <span class="ire">Fúinn</span></h3>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="medium-8 medium-offset-2 columns video">
				<div>
					<span class="icon-play"></span>
					<h3>Learn more about Ireland 2016 <span class="ire break">Níos mó faoi Éirinn 2016 a fhoghlaim</span></h3>
				</div>
				<img src="http://placehold.it/800x500/444/666" alt="">
			</div>
		</div>		
	</section>


	<section class="container signup">
		<div class="row">
			<div class="large-12 column heading">
				<div class="left">
					<h3>Programme Updates <span class="ire">Clár Nuashonruithe</span></h3>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="large-3 columns">
				<p>Sign up to our newsletter for event and programme updates</p>
				<p class="ire">Cláraigh anseo lenár nuachtán agus eolas chun dáta a fháil</p>
				<a href="https://twitter.com/ireland2016"><span class="icon-twitter"></span></a>
				<a href="https://www.facebook.com/wwwIreland2016"><span class="icon-facebook"></span></a>
			</div>
			<div class="large-1 columns show-for-large-up">
				<span></span>
			</div>
			<div class="large-8 columns">
				<form>
					<div class="row">
						<div class="large-4 medium-6 columns">
							<label>FULL NAME  |  AINM IOMLÁN
							<input type="text" placeholder="FULL NAME | AINM IOMLÁN" />
							</label>
						</div>
						<div class="large-4 medium-6 columns">
							<label>EMAIL | SEOLADH RPHOIST
							<input type="text" placeholder="EMAIL | SEOLADH RPHOIST" />
							</label>
						</div>
						<div class="large-4 columns">
							<input type="submit" value="SUBSCRIBE | LIOSTÁIL" class="submit button small expand" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>

</div>