<div id="home">

	<section class="container intro" style="background-image: url(http://placehold.it/1400x600/666);">
		<div class="overlay">
			<div class="row">
				<div class="large-6 columns">
					<span class="date">1.6.2016 &mdash; GPO, Dublin / GPO Dublin</span>
					<h1>Proclamation Day <span class="ire break">Lá Forógra</span></h1>
					<a href="#" class="more">Níos Mo</a>
				</div>

				<div class="large-6 columns">
					<div class="row">
						<div class="large-6 columns">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, quam, expedita. Totam dolorum sit ullam nisi dicta, minima, earum ipsa.</p>
						</div>
						<div class="large-6 columns">
							<p class="ire">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea eaque similique error sunt itaque odit consectetur voluptates labore facere, eum expedita dolore, alias ipsam non sed nobis rerum accusantium corrupti.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="container highlights">
		<div class="row">
			<div class="large-12 column heading">
				<div class="left">
				<h3>Programme Highlights <span class="ire">Buaicphointí Clár</span></h3>
				</div>
				<div class="right">
					<a href="#" class="arrowleft"><</a>
					<a href="#" class="arrowright">></a>
				</div>
			</div>
			<div class="tiles">

				<div class="event highlight historic">
					<img src="http://placehold.it/550x300" alt="">
					<div class="info">
						<h4>Crowds gather to watch the Garden of Remembrnace Ceremoney <span class="ire break">Sluaite bhailiú chun féachaint ar an Gairdín na Remembrnace Ceremoney</span></h4>
					</div>
				</div>
			
				<div class="event highlight language">
					<img src="http://placehold.it/550x300" alt="">
					<div class="info">
						<h4>Event Title <span class="ire break">Event Title</span></h4>
					</div>
				</div>
			
				<div class="event highlight language">
					<img src="http://placehold.it/550x300" alt="">
					<div class="info">
						<h4>Event Title <span class="ire break">Event Title</span></h4>
					</div>
				</div>
			
			</div>
		</div>
	</section>


</div>