	<section class="container reminders">
		<div class="row">
			<div class="large-12 column heading">
				<div class="left">
				<h3>Events <span class="ire">Imeachtaí</span></h3>
				</div>
				<div class="right">
					<a href="" class="button tiny arrow">Back to Events</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="large-12 column">
				<div class="title">
					<div class="left">
						<h1>Permanent Reminders <span class="ire break">Meabhrúcháin Buan</span></h1>
					</div>
					<!-- <div class="right">
						<span class="icon-state"></span>
						<span class="icon-historic"></span>
					</div> -->
				</div>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
				<div class="standfirst">
					<div class="row">
						<div class="large-9 columns">
							<hr>
							<h3>Ireland 2016 is an open invitation to everyone, of all ages, both here in Ireland and overseas,to join in a year of commemoration, conversation and exploration – through the arts, through historical research and exposition, through the Irish language, through education and children’s events – from which a new and more expansive sense of Irish identity can emerge.</h3>
							<h3 class="ire">Is é is Éire 2016 ann ná cuireadh oscailte do gach duine, beag beann ar aois, anseo in Éirinn agus i dtíortha thar lear, páirt a ghlacadh i mbliain ina mbeidh comóradh, comhrá agus iniúchadh óna bhféadfaidh braistint féiniúlachta Éireannaí nua agus níos leithne.
							</h3>
						</div>					
						
					</div>
				</div>
					
			</div>
		</div>

		<div class="row events grid">
			
			<div class="event large-6 medium-6 columns">
				<div class="info" style="background-image: url(http://placehold.it/)">
					<span class="date">09.15.16</span>
					<h4>The GPO Interpretative Centre<span class="ire break">Ionad Léirmhíniúcháin Ard-Oifig an Phoist</span></h4>
					<a href="#" class="more">Níos Mó</a>
				</div>
				<img src="http://placehold.it/550x300" alt="">
			</div>
			
			<div class="event large-6 medium-6 columns">
				<div class="info" style="background-image: url(http://placehold.it/)">
					<span class="date">09.15.16</span>
					<h4>Richmond Barracks <span class="ire break">Beairic Richmond</span></h4>
					<a href="#" class="more">Níos Mó</a>
				</div>
				<img src="http://placehold.it/550x300" alt="">
			</div>

			<div class="event large-6 medium-6 columns">
				<div class="info">
					<span class="date">09.15.16</span>
					<h4> The Tenement Museum, Dublin<span class="ire break">An Músaem Tionóntán, Baile Átha Cliath</span></h4>
					<a href="#" class="more">Níos Mó</a>
				</div>
				<img src="http://placehold.it/550x300" alt="">
			</div>

			<div class="event large-6 medium-6 columns">
				<div class="info">
					<span class="date">09.15.16</span>
					<h4>Teach an Phiarsaigh<span class="ire break">Teach an Phiarsaigh</span></h4>
					<a href="#" class="more">Níos Mó</a>
				</div>
				<img src="http://placehold.it/550x300" alt="">
			</div>

			<div class="event large-6 medium-6 columns">
				<div class="info" style="background-image: url(http://placehold.it/)">
					<span class="date">09.15.16</span>
					<h4>The GPO Interpretative Centre<span class="ire break">Ionad Léirmhíniúcháin Ard-Oifig an Phoist</span></h4>
					<a href="#" class="more">Níos Mó</a>
				</div>
				<img src="http://placehold.it/550x300" alt="">
			</div>
			
			<div class="event large-6 medium-6 columns">
				<div class="info" style="background-image: url(http://placehold.it/)">
					<span class="date">09.15.16</span>
					<h4>Richmond Barracks <span class="ire break">Beairic Richmond</span></h4>
					<a href="#" class="more">Níos Mó</a>
				</div>
				<img src="http://placehold.it/550x300" alt="">
			</div>

			<div class="event large-6 medium-6 columns">
				<div class="info">
					<span class="date">09.15.16</span>
					<h4> The Tenement Museum, Dublin<span class="ire break">An Músaem Tionóntán, Baile Átha Cliath</span></h4>
					<a href="#" class="more">Níos Mó</a>
				</div>
				<img src="http://placehold.it/550x300" alt="">
			</div>

			<div class="event large-6 medium-6 columns">
				<div class="info">
					<span class="date">09.15.16</span>
					<h4>Teach an Phiarsaigh<span class="ire break">Teach an Phiarsaigh</span></h4>
					<a href="#" class="more">Níos Mó</a>
				</div>
				<img src="http://placehold.it/550x300" alt="">
			</div>
		</div>
	</section>

