	<section class="container strands">
		<div class="row events grid">
			

			<div class="event large-8 small-12 columns">
				<div class="info intro">
					<h2>Programme Strands <span class="ire break">Snáitheanna an Chláir</span></h2>
					<p>Ireland 2016 is an ambitious and wide-ranging national commemorative initiative, embracing seven distinct programme strands each with an extensive programme of events.</p>
					<p class="ire">Is tionscnamh uaillmhianch fadréimseach comórtha náisiúnta Éire 2016 ina gcuimsítear seacht snáithe ar leith agus clár fairsing imeachtaí ag gach ceann acu.</p>
				</div>
			</div>


			<div class="event large-4 medium-6 columns">
				<div class="info state">
					<h4>State Ceremonial <span class="ire break">Searmanais Stáit</span></h4>
					<p>An extensive programme of formal commemorative events, focused on remembering and honouring those who took part in the Easter Rising, and especially those who gave their lives.</p>
					<p class="ire">Beidh clár fairsing d’imeachtaí foirmiúla comóraidh ann a bheidh dírithe ar na daoine sin a thabhairt chun cuimhne agus urraim a léiriú dóibh siúd a ghlac páirt in Éirí Amach na Cásca, agus go háirithe iad siúd a thug a mbeo sa troid.</p>
					<a href="#" class="more">Níos Mó</a>
					<span class="icon-state"></span>
				</div>
			</div>
			
			<div class="event large-4 medium-6 columns">
				<div class="info historic">
					<h4>Historical Reflection <span class="ire break">Machnamh ar an Stair</span></h4>
					<p>A range of history-based activities and initiatives, designed to deepen and broaden our understanding of the events of 1916 and that pivotal period in our history.</p>
					<p class="ire">Beidh réimse gníomhaíochtaí agus tionscnaimh staire ann a cheapfar chun ár dtuiscint ar imeachtaí 1916 agus an tréimhse ríthábhachtach sin inár stair a dhoimhniú agus a leathnú.</p>
					<a href="#" class="more">Níos Mó</a>
					<span class="icon-historic"></span>
				</div>
			</div>

			<div class="event large-4 medium-6 columns">
				<div class="info language">
					<h4>An Teanga Bheo <span class="ire break">The Living Language</span></h4>
					<p>Reflecting on the central place of the Irish language in the ideals of the Revolutionary Generation and celebrating the language through a diverse programme of events.</p>
					<p class="ire">Cuirfear clár ilghnéitheach imeachtaí ar siúl mar léiriú ar áit lárnach na Gaeilge in idéil na glúine réabhlóidí agus chun an teanga a cheiliúradh.</p>
					<a href="#" class="more">Níos Mó</a>
					<span class="icon-language"></span>
				</div>
			</div>

			<div class="event large-4 medium-6 columns">
				<div class="info youth">
					<h4>Youth and Imagination<span class="ire break">An Óige agus an tSamhlaíocht</span></h4>
					<p>Placing children and young people at the centre of the Ireland 2016 Centenary Programme and integrating historical exploration with a range of imaginative activities.</p>
					<p class="ire">Cuirfear leanaí agus daoine óga i gcroílár Éire 2016 Clár Comórtha Céad Bliain agus déanfar iniúchadh ar cheisteanna staire a chomhtháthú le réimse gníomhaíochtaí samhlaíocha.</p>
					<a href="#" class="more">Níos Mó</a>
					<span class="icon-youth"></span>
				</div>
			</div>

			<div class="event large-4 medium-6 columns">
				<div class="info culture">
					<h4>Culturual Expression <span class="ire break">Léiriú Cultúrtha</span></h4>
					<p>Working with our creative community, our National Cultural Institutions and other arts organisations to reflect on our past, our present and our future, with a focus on 1916.</p>
					<p class="ire">Oibriú lenár bpobal cruthaitheach, lenár n-institiúidí cultúrtha náisiúnta agus lenár n-eagraíochtaí ealaíon eile chun machnamh a dhéanamh ar an am atá thart in Éirinn, ar an saol atá ann faoi láthair agus ar a mbeidh i ndán dúinn amach anseo, agus béim faoi leith ar chuimhneachán 1916.</p>
					<a href="#" class="more">Níos Mó</a>
					<span class="icon-culture"></span>
				</div>
			</div>

			<div class="event large-4 medium-6 columns">
				<div class="info community">
					<h4>Community Participation <span class="ire break">Rannpháirtíocht Phobail</span></h4>
					<p>Encouraging widespread citizen engagement in 1916 related events, involving the broadest possible community and voluntary sector participation in towns and villages throughout the country.</p>
					<p class="ire">Saoránaigh a spreagadh le páirt a ghlacadh in imeachtaí a bhainfidh le 1916, sa chaoi is go mbeidh an rannpháirtíocht is mó is féidir ag na hearnálacha deonacha agus pobail i mbailte agus i sráidbhailte ar fud na tíre.</p>
					<a href="#" class="more">Níos Mó</a>
					<span class="icon-community"></span>
				</div>
			</div>
			<div class="event large-4 medium-6 columns">
				<div class="info global">
					<h4>Global and Diaspora<span class="ire break">Éireannaigh ar fud an Domhain agus an Diaspóra</span></h4>
					<p>Inviting the global Irish family and friends of Ireland from all over the world to join us in remembering, reflecting and re-imagining.</p>
					<p class="ire">Cuireadh a thabhairt do chlanna Gael ó gach cearn den domhan agus do chairde na hÉireann a bheith linn agus muid ag tabhairt chun cuimhne, ag léiriú agus ag athshamhlú.</p>
					<a href="#" class="more">Níos Mó</a>
					<span class="icon-global"></span>
				</div>
			</div>
		</div>
	</section>

	<section class="container uptodate">
		<div class="row">
			<div class="large-12 column heading">
				<div class="left">
					<h4>Stay up-to-date <span class="ire">Fan suas chun dáta</span></h4>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="large-4 columns social">
				<hr>
				<h5>Follow Us <span class="ire break">Lean linn</span></h5>
				<a href="https://twitter.com/ireland2016"><span class="icon-twitter"></span></a>
				<a href="https://www.facebook.com/wwwIreland2016"><span class="icon-facebook"></span></a>
			</div>
			<div class="large-4 columns">
				<hr>
				<h5>News <span class="ire break">Nuacht</span></h5>
				<p>Follow the latest news from the Ireland 2016 team including updates of events and programme updates.</p>
				<p class="ire">Lean an nuacht is déanaí ó fhoireann na hÉireann 2016 lena n-áirítear nuashonruithe imeachtaí agus nuashonruithe chláir.</p>
				<a href="#" class="button tiny">Níos Mó</a>
				<hr class="show-for-medium-up">
			</div>
			<div class="large-4 columns">
				<hr>
				<h5>Partners <span class="ire break">Comhpháirtithe</span></h5>
				<p>Stay up-to-date with our Partners and follow what’s on in your area, helping to commemorate Ireland 2016.</p>
				<p class="ire">Fan suas chun dáta lenár gComhpháirtithe agus a leanúint cad ar i do cheantar , ag cabhrú chun comóradh Éire 2016.</p>
				<a href="#" class="button tiny">Níos Mó</a>
				<hr>
			</div>
		</div>
	</section>

